:root {
  --pink: #fd135a;
  --gradient-pink: linear-gradient(270.06deg, #6518b4 0%, #d24074 101.62%);
  --gradient-purple: linear-gradient(270.06deg, #10d7e2 0%, #9358f7 101.62%);
  --dark: #121212;
  --dark-200: #151515;
  --gray-light: #c4c4c4;
  --light: #ffffff;
  --border-width: 2px;
  --radius: 8px;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  list-style-type: none;
  border: none;
  outline: none;
  text-decoration: none;
}

body {
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: var(--dark);
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

h1 {
  font-size: 64px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

p {
  font-size: 18px;
}
header {
  min-height: 60px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  border-bottom: 1px solid #ccc;
  background: #ececec;
  z-index: 2;
}

.home {
  display: flex;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  flex-wrap: nowrap;
}

.name {
  margin-top: 200px;
  margin-left: 140px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}
.name h1 {
  color: var(--pink);
  font-weight: 600;

  line-height: 100px;
}

.name h2 {
  color: var(--light);
  font-weight: 600;
  line-height: 29px;
  padding-bottom: 20px;
}
.contact {
  display: flex;
  margin: 0 140px;
}
.github,
.linkedin,
.cloud,
.mail,
.link {
  position: relative;
  text-decoration: none;
  padding: 1rem 2rem;
  color: var(--light);
  font-size: 24px;
  font-weight: medium;

  border: 0;
  border-radius: var(--radius);
  z-index: 1;
}
.linkedin::before,
.github::before,
.cloud::before,
.mail::before,
.link::before {
  position: absolute;
  content: "";

  background-color: var(--dark);

  width: calc(100% - calc(var(--border-width) * 2));
  height: calc(100% - calc(var(--border-width) * 2));

  top: var(--border-width);
  left: var(--border-width);

  border-radius: calc(var(--radius) - var(--border-width));

  z-index: -1;
}

.linkedin {
  background-image: var(--gradient-purple);
  margin-left: 20px;
}
.github {
  background-image: var(--gradient-pink);
}
.about-me {
  width: 100%;
  height: 100vh;
  background-color: var(--dark-200);
}
.container {
  display: flex;
  justify-content: space-between;
}
.photo {
  margin-top: 100px;
  margin-left: 100px;
}
.photo-perfil {
  width: 300px;
  height: 370px;
  border-radius: 3%;
  border-left: 3px solid var(--pink);
}
.text {
  text-align: justify;
  width: 60%;
  padding-top: 100px;
  padding-left: 50px;
  padding-right: 50px;
}
.text h2,
h3 {
  color: var(--light);
  font-weight: 600;
  line-height: 50px;
}

.text span {
  color: var(--gray-light);
  font-weight: 400;
  line-height: 40px;
}
.social {
  display: flex;
  text-align: right;
  position: relative;
  margin-left: 50%;
}
.social li {
  list-style: none;
  display: inline;
  text-align: center;
  justify-content: center;
  padding: 80px;
}
.social-instragam {
  width: 22px;
  height: 22px;
}
.contact-about {
  display: flex;
  position: relative;
  margin-top: 40px;
  margin-bottom: 50px;
}
.cloud {
  background-image: var(--gradient-pink);
  margin-left: 50%;
}
.mail {
  background-image: var(--gradient-purple);
  margin-left: 120px;
}
.projects {
  display: flex;
  flex-wrap: wrap;

  width: 100%;
}
.project-01,
.project-03,
.project-04,
.project-02 {
  width: 50%;
  padding-left: 100px;
  padding-right: 100px;
}
.title {
  padding-top: 100px;
  padding-bottom: 50px;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
}
.project-02 {
  padding-top: 220px;
}

.project-01 h2,
.project-03 h2,
.project-04 h2,
.project-02 h2 {
  font-weight: 600;
  line-height: 60px;
  color: var(--light);
}
.project-01 span,
.project-03 span,
.project-04 span,
.project-02 span {
  font-weight: 300;
  font-size: 16px;
  line-height: 26px;
  color: var(--gray-light);
  text-align: justify;
}

.project-01 h3,
.project-02 h3,
.project-03 h3,
.project-04 h3 {
  color: var(--pink);
}
.img-project {
  border-left: 3px solid var(--pink);

  width: 500px;
  height: 250px;
}
.button-projects {
  display: flex;
  position: relative;
  margin-top: 40px;
  margin-bottom: 50px;
}
.link {
  background-image: var(--gradient-purple);
  margin-left: 20px;
}
footer {
  display: flex;

  justify-content: space-around;
  width: 100%;
  border: 2px solid var(--dark-200);
}
footer h3 {
  text-align: center;
  justify-content: center;
}
.header-menu {
  background-color: var(--dark);
  position: fixed;
  display: flex;
  width: 100%;
  height: 100px;
  justify-content: space-between;
  align-items: center;
  padding: 20px 12px;
  border: 2px solid var(--dark-200);
  z-index: 3;
}
.logo {
  position: relative;
  width: 98px;
  height: 29px;
  left: 180px;
}
.menu li {
  list-style: none;
  display: inline;
  padding: 42px;
  text-align: center;
  justify-content: center;
  position: relative;
}

.menu a {
  color: var(--gray-light);
  font-size: 18px;
  font-weight: 500;
}

ul.topnav li a:hover {
  color: var(--pink);
}

ul.topnav li.icon {
  display: none;
  padding-top: 0px;
}

@media screen and (max-width: 800px) {
  ul.topnav li {
    display: none;
  }
  ul.topnav li.icon {
    float: right;
    display: inline-block;
  }
}

@media screen and (max-width: 800px) {
  ul.topnav.responsive {
    position: relative;
    background: rgba(0, 0, 0, 0.75); /*Fundo cinza*/
    height: 400px;
    line-height: 5px;
    width: 500px;
    padding-top: 200px;
  }
  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
    padding-top: 200px;
  }
  ul.topnav.responsive li {
    text-align: center;
    float: none;
    padding: 0;
    display: inline;
  }
  ul.topnav.responsive li a {
    display: block;
    padding: 0;
    text-align: left;
    line-height: 30px;
    text-align: center;
    padding: 20px;
  }
}
@media (max-width: 800px) {
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 18px;
  }
  h3 {
    font-size: 16px;
  }
  span {
    font-size: 12px;
    padding-bottom: 20px;
  }
  .contact a {
    font-size: 20px;
  }
  .about-me {
    width: 100%;
    height: 700px;
    padding-bottom: 200px;
  }
  .photo-perfil {
    width: 200px;
    height: 270px;
    border-left: 3px solid var(--pink);
  }
  .photo {
    margin-top: 100px;
    margin-left: 50px;
    margin-bottom: 0px;
  }
  .social img {
    width: 12px;
    height: 12px;
  }
  .social li {
    padding: 20px;
  }
  .contact-about a {
    font-size: 10px;
  }
  .contact-about img {
    width: 10px;
    height: 10px;
  }
}
